# ===== Database =====
DB_HOST=localhost
DB_PORT=5432
DB_NAME=devticket
DB_USER=devticket
DB_PASSWORD=
DB_SCHEMA=log

# ===== Kafka =====
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=log-group
KAFKA_TOPIC=action.log

# ===== Server =====
PORT=8085
NODE_ENV=development
LOG_LEVEL=info
